### Gradle ###
.gradle/
**/build/
**/out/
**/target/

# Ignore all JARs and class files
*.jar
*.war
*.ear
*.class

# Keep wrapper scripts & wrapper jar
!gradlew
!gradlew.bat
!gradle-wrapper.jar

### IDEs ###
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

### Logs ###
*.log
*.log.*
/logs/

### OS files ###
.DS_Store
Thumbs.db

### Java crash dumps ###
hs_err_pid*
replay_pid*

### Avro generated sources ###
**/build/generated*/

### Docker volumes (Kafka, Postgres, etc.) ###
pgdata/
kafka-data/
zookeeper-data/
docker-data/

### Env / secrets ###
.env
*.local
*.tmp

### Test coverage ###
/coverage/
/jacoco.exec
